body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f8ff; 
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;  
  margin-bottom: 0;
  padding: 0;
}

.currentWeather {
  flex: 1;
  max-width: 45%;  
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: .5rem;
}

.favoritePlaces {
  flex: 1;
  max-width: 45%;  
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: .5rem;
}


@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;  
    padding: 1rem; 
  }

  .currentWeather, .favoritePlaces {
    max-width: 100%; 
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .flex-container {
    padding: 0.5rem; 
  }

  .currentWeather, .favoritePlaces, .forecast {
    max-width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  button {
    width: 100%; 
    padding: 0.5rem;
  }

  h1, h2, p {
    font-size: 0.9rem;
  }
}
